<br /><p>Sort by:</p>
<select id="dynamic_select">
    <option value=""></option>
    <option value="1">FirstName</option>
    <option value="2">LastName</option>
    <option value="3">BedNumber</option>
    <option value="4">DOB</option>
</select>