<ul class="nav navbar-nav pull-right">
    <li>
        @Html.ActionLink("Log in", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink", style = "text-align:center" })
    </li>
</ul>