@model healthApp.Models.Client

@{
    ViewBag.Title = "UploadPicture";
}

<script>

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(150);
                value = input.value;
                value = value.replace("C:\\fakepath\\", "");
                $('#subfile').val(value);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }


</script>
@{
    ViewBag.Title = "Photo Upload";
}
<div class="col-lg-2"></div>
<div class="col-lg-8">
    <h2 ><span class ="glyphicon glyphicon-upload"></span> Upload Photo</h2>

    <img id="img" height="150" width="150" src="@Url.Content("~/Client/ViewImage/" + @Html.DisplayFor(model => model.ClientID))" />
    @using (Html.BeginForm("Upload", "Client", FormMethod.Post, new { enctype = "multipart/form-data", id = "PhotoForm" }))
    {
       
        <br />

        <input class="input-xlarge" type="file" name="file" id="photoFile" style="visibility:hidden;display:none;" onchange="readURL(this)" />
        <div class="input-append">
            <input type="text" name="subfile" id="subfile" class="input-xlarge">
            <a class="btn btn-default btn-sm"  onclick="$('#photoFile').click();">Browse</a>
        </div>
        <input type="text" name="id" id="clientId" value=@Html.DisplayFor(model => model.ClientID) hidden=" hidden"><p>
            <br />
            <button class="btn btn-primary" type="submit">Submit</button>
        </p>

    }
</div>
<div class="col-lg-2"></div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

